<nav>
  <span>{{username}}</span>
  <i class="material-icons" (click)="modal.show()">settings</i>
</nav>

<app-modal #modal>
  <header class="modal-header">
    <h1>Settings</h1>
  </header>
  <form [formGroup]="userSettingsForm" (ngSubmit)="onSubmit()" class="modal-body">
    <input type="text" formControlName="username" placeholder="Photo">
    <div class="buttons">
      <button type="button" (click)="modal.hide()">Close</button>
      <button type="submit" class="primary" (click)="modal.hide()">Save</button>
    </div>
  </form>
</app-modal>
