form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  max-width: 600px;
}

form * {
  justify-self: start;
  align-self: start;
}

form input,
form button,
form select {
  margin-top: 5px;
}

form input[type="radio"] {
  height: unset;
}

.error-text {
  display: block;
}

.phone-numbers * {
  align-self: center;
  justify-self: center;
}

.phone-numbers .error-text {
  justify-self: start;
}

#photo {
  grid-column-end: span 2;
}

.phone-numbers-row {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.phone-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.phone-numbers .error-text {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.buttons {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: span 2;
}
