<button *ngIf="isMobile" (click)="goBack()">back</button>
<ng-container *ngIf="contact else empty">
  <app-contact-photo [src]="contact.profilePictureSrc"></app-contact-photo>
  <span class="name">{{contact.salutation + ' ' + contact.firstName + ' ' + contact.lastName}}</span>
  <span class="company">{{contact.company}}</span>
  <div class="contact-info">
    <span *ngFor="let phoneNumber of contact.phoneNumbers" [ngClass]="{
      'home-phone': phoneNumber.type === 'Home',
      'work-phone': phoneNumber.type === 'Work',
      'cell-phone': phoneNumber.type === 'Cell'
    }">
      {{phoneNumber.type + ': ' + phoneNumber.number}}
    </span>
  </div>

</ng-container>
<ng-template #empty>
  <span class="empty-state">No contact</span>
</ng-template>
