@import "../../scss/variables.scss";

:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;

  background-color: #fff;
  border-radius: $rounded-corner;

  box-shadow: $shadow-height-1;
}
