<app-contact-photo [src]="contact.profilePictureSrc"></app-contact-photo>
<div class="personal-info">
  <span class="name">{{contact.salutation + ' ' + contact.firstName + ' ' + contact.lastName}}</span>
  <span>{{contact.company}}</span>
</div>
<div class="contact-info">
  <span *ngFor="let phoneNumber of contact.phoneNumbers" [ngClass]="{
    'home-phone': phoneNumber.type === 'Home',
    'work-phone': phoneNumber.type === 'Work',
    'cell-phone': phoneNumber.type === 'Cell'
  }">
    {{phoneNumber.type + ': ' + phoneNumber.number}}
  </span>
</div>
