@import "../../../scss/variables.scss";
:host {
  flex-grow: 2;
  flex-shrink: 2;
  position: relative;

  padding: 20px 0;

  height: calc(100% - 40px);
  overflow-y: auto;
}

h1 {
  margin-left: 30px;
}

.fab-button {
  right: 475px;
}

@media only screen and (max-width: $mobile-cutoff) {
  .fab-button {
    right: 35px;
  }
}
