<header>
  <h1>Contacts</h1>
</header>

<app-list [data]="contacts" [itemTemplate]="itemTemplate" [noDataMessage]="noDataMessage"></app-list>

<button class="fab-button" (click)="modal.show()">
  <i class="material-icons">person_add</i>
</button>

<ng-template #itemTemplate let-contact>
  <app-contact [contact]="contact"></app-contact>
</ng-template>


<app-modal #modal>
  <header class="app-modal-header">
    <h1>Add Contact</h1>
  </header>
  <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()" class="app-modal-body">
    <input type="text" formControlName="photo" placeholder="Photo">
    <input type="text" formControlName="salutation" placeholder="Salutation">
    <input type="text" formControlName="firstName" placeholder="First Name">
    <label class="error-text" [ngClass]="{'hidden': !(submitted && addContactForm.controls.username.errors)}">
      First name is required</label>
    <input type="text" formControlName="lastName" placeholder="Last Name">
    <label class="error-text" [ngClass]="{'hidden': !(submitted && addContactForm.controls.username.errors)}">
      Last name is required</label>
    <input type="text" formControlName="company" placeholder="Company">
    <input type="text" formControlName="phone" placeholder="Phone">
    <label class="error-text" [ngClass]="{'hidden': !(submitted && addContactForm.controls.username.errors)}">
      Phone number is required</label>
    <div class="buttons">
      <button type="button" class="" (click)="modal.hide()">Close</button>
      <button type="submit" class="primary" (click)="submitted ? onSubmit() : modal.hide()">Save</button>
    </div>
  </form>
</app-modal>
