@import "./variables.scss";

button {
  background-color: #fff;

  min-width: 64px;
  padding: 10px 16px;

  border: none;
  border-radius: $rounded-corner;

  transition: box-shadow 0.3s;
  box-shadow: $shadow-height-1;
}

button:focus,
button:active {
  outline: none;
}

button:hover {
  cursor: pointer;
  box-shadow: $shadow-height-2;
}

button.primary {
  background-color: $primary;
  color: #fff;
}

button.secondary {
  background-color: $secondary;
  color: inherit;
}

.fab-button {
  color: inherit;
  background-color: $secondary;
  display: block;

  position: absolute;
  bottom: 35px;
  right: 35px;

  border-radius: 50%;
  border-width: 0px;
  box-shadow: $shadow-height-1;
  transition: box-shadow 0.3s;

  height: 70px;
  width: 70px;

  z-index: 99;
}

.fab-button:hover {
  cursor: pointer;
  box-shadow: $shadow-height-2;
}

.fab-button:focus {
  outline: none;
}
