$mobile-cutoff: 1024px;
$shadow-height-1: 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 30px rgba(0, 0, 0, 0.08);
$shadow-height-2: 0px 6px 14px rgba(0, 0, 0, 0.3), 0px 0px 60px rgba(0, 0, 0, 0.08);

$primary: #1c4a6c;
$secondary: #f3915d;
